*{
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
}
/*Primary #8CFF98, Secondary #F7B578, Accent 1 #2E86AB, Accent 2 #403D58 Hover #7C6354.*/
 h1,h2,h3,h4{
    font-family: 'Cormorant', serif;
    padding: 2vw;

 }
 h1{
    color:#8CFF98;
    background-color:#2E86AB ;
    font-size: 50px;
    text-align: center;
 }
 nav{
   margin: 0 auto;
   background-color:#F7B578 ;
   color:#8CFF98;
 }
 nav ul{
   display:flex;
 }
  nav ul li{
    list-style: none;

  }
  nav ul li a{
   display: block;
  }
  #s_media img{
    width: 15%;
  }
  nav ul li:hover {
    color:#7C6354 ;
  }
  #weather{
   background-color:#2E86AB ;
   color: #8CFF98;
  }
  #orders ul li{
   list-style: none;
   text-decoration:underline;
  }
  #action h3{
   background-color: #F7B578;
   color: #403D58;
   font-size: 2.5em;
   border-radius: 15px;;
  }
  #action :any-link{
   color: #403D58;
  }
 p{
    font-family: 'Baloo 2', 'cursive';

 }
 img{
    width:100%;
    margin: 0 auto;
    padding: 2vw;
 }
 footer{
    color:#403D58 ;
    background-color:#F7B578 ;
    padding: 2vw;
 }

